* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #FFF;
}

html, body {
  font-family: "Roboto", sans-serif;
  background-color: #0F172A;
  font-size: 16px;
}

button {
  cursor: pointer;
  border: 1px solid #333;
}

input {
  outline: none;
}

.l-header {
  display: flex;
  justify-content: center;
  padding: 24px 80px;
}
.l-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.05);
  max-width: 1000px;
  width: 100%;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07), 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.l-header__button-group {
  display: flex;
  gap: 16px;
}

.l-section {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.l-section--row {
  flex-direction: row;
}
.l-section__image {
  width: 100vw;
}
.l-section__image--extra {
  max-width: 1000px;
}
.l-section__image--large {
  max-width: 750px;
}
.l-section__image--medium {
  max-width: 375px;
}
.l-section__image--small {
  max-width: 284px;
}
.l-section__logo-container {
  display: flex;
  gap: 80px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 110%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo--large {
  font-size: 2rem;
}
.logo__icon {
  width: 32px;
}

.menu ul {
  display: flex;
  gap: 16px;
  height: 100%;
}
.menu__link {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  padding: 8px;
  transition: 300ms ease-out;
}
.menu__link:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: translateY(-5px);
}

.btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 26px;
  transition: 300ms ease-out;
}
.btn__label {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  transition: 300ms ease-out;
}
.btn__icon {
  width: 24px;
  display: flex;
}
.btn--link:hover .btn__label {
  color: rgba(255, 255, 255, 0.8);
}
.btn--fill {
  background-color: #9333EA;
  border-color: #9333EA;
}
.btn--fill:hover {
  background-color: #6B21A8;
  border-color: #6B21A8;
}
.btn--outline {
  border-color: #FFF;
}
.btn--outline:hover {
  border-color: #9333EA;
}
.btn--outline:hover .btn__label {
  color: #9333EA;
}
.btn--large {
  padding: 16px;
  min-width: 168px;
}
.btn--large .btn__label {
  font-size: 1.25rem;
}

.title {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 110%;
}
.title--two {
  font-size: 3.5rem;
}
.title--purple {
  color: #C084FC;
}
.title--dark-purple {
  color: #9333EA;
}
.title #line-bottom {
  position: relative;
  display: inline-block;
}
.title #line-bottom::before {
  content: "";
  position: absolute;
  width: 191px;
  height: 5px;
  bottom: 0;
  left: 3px;
  background-color: #C084FC;
}
.title #line-top {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.title #line-top::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 198px;
  height: 8px;
  top: 15px;
  left: 4px;
  background-color: #C084FC;
}
.title #square {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.title #square::before {
  content: "";
  position: absolute;
  width: 128px;
  left: -8px;
  z-index: -1;
  top: -5px;
  height: 100%;
  border: 3px solid #C2410C;
}
.title #square-fill {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.title #square-fill::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 80px;
  height: 80px;
  top: 0;
  left: -10px;
  background-color: #BE185D;
}

.card {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}
.card--center {
  justify-content: center;
  align-items: center;
}
.card--center .card__text {
  text-align: center;
}
.card__top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__caption {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: capitalize;
}
.card__text {
  font-size: 1.125rem;
  line-height: 160%;
}
.card__button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.card .btn--link {
  padding: 16px 0px;
}
.card .btn--link:hover {
  gap: 16px;
}

/*# sourceMappingURL=style.css.map */
