* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #FFF;
}

html, body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  background-color: #0F172A;
  font-size: 16px;
  overflow: hidden auto;
  /* Buttons */
  /* Arrow Up */
  /* Arrow Down */
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
html ::-webkit-scrollbar-corner,
html ::-webkit-scrollbar-track, body ::-webkit-scrollbar-corner,
body ::-webkit-scrollbar-track {
  background-color: rgb(64, 64, 64);
}
html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  background-color: rgb(96, 96, 96);
  background-clip: padding-box;
  border: 2px solid transparent;
}
html ::-webkit-scrollbar-thumb:hover, body ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(112, 112, 112);
}
html ::-webkit-scrollbar-thumb:active, body ::-webkit-scrollbar-thumb:active {
  background-color: rgb(128, 128, 128);
}
html ::-webkit-scrollbar-button:single-button, body ::-webkit-scrollbar-button:single-button {
  background-color: rgb(64, 64, 64);
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}
html ::-webkit-scrollbar-button:single-button:vertical:decrement, body ::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}
html ::-webkit-scrollbar-button:single-button:vertical:decrement:hover, body ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}
html ::-webkit-scrollbar-button:single-button:vertical:decrement:active, body ::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}
html ::-webkit-scrollbar-button:single-button:vertical:increment, body ::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}
html ::-webkit-scrollbar-button:single-button:vertical:increment:hover, body ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}
html ::-webkit-scrollbar-button:single-button:vertical:increment:active, body ::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

button {
  cursor: pointer;
  border: 1px solid #333;
}

input {
  outline: none;
}

.l-header {
  display: flex;
  justify-content: center;
  padding: 24px 80px;
  background-color: #0F172A;
}
.l-header__wrapper {
  background-color: rgba(250, 250, 250, 0.05);
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07), 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  padding: 24px;
  width: 100%;
}
.l-header__button-group {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 1000px) {
  .l-header__button-group .btn--fill {
    display: none;
  }
  .l-header__button-group .btn--link {
    padding: 0px;
  }
}
.l-header .menu-mobile {
  display: none;
}
@media screen and (max-width: 850px) {
  .l-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 16px;
    z-index: 5;
  }
  .l-header .menu {
    display: none;
  }
  .l-header__button-group {
    display: none;
  }
  .l-header .menu-mobile {
    display: flex;
  }
}

.l-section {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.l-section--row {
  flex-direction: row;
}
.l-section--grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.l-section__image {
  width: 100vw;
}
.l-section__image--extra {
  max-width: 1000px;
}
.l-section__image--large {
  max-width: 750px;
}
.l-section__image--medium {
  max-width: 350px;
}
.l-section__image--small {
  max-width: 284px;
}
.l-section__logo-container {
  display: flex;
  gap: 80px;
}

.l-footer {
  background: white;
  padding: 0px 80px;
}
.l-footer * {
  color: #0F172A;
}
.l-footer__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 48px;
  align-items: flex-start;
  padding: 48px 0px;
}
.l-footer__bottom {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  padding: 48px 0px;
}
.l-footer__text {
  font-size: 1rem;
  line-height: 140%;
}
.l-footer__list > * {
  padding: 12px 0px;
}
.l-footer__caption {
  font-size: 1rem;
  color: #94A3B8;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 110%;
}
.l-footer__link {
  font-size: 1rem;
  line-height: 140%;
}
.l-footer__link:hover {
  color: #94A3B8;
}
.l-footer__icon-container {
  display: flex;
  gap: 16px;
  align-items: center;
}
.l-footer__icon {
  width: 24px;
  height: 24px;
  transition: 300ms ease-out;
}
.l-footer__icon:hover {
  transform: translateY(-5px);
}

.l-page header, .l-page .l-section {
  max-width: 1440px;
  margin: 0 auto;
}
.l-page--bg-purple {
  background-color: #581C87;
}
.l-page--bg-white {
  background-color: #fff;
}
.l-page--bg-white * {
  color: #0F172A;
}
@media screen and (max-width: 850px) {
  .l-page {
    padding-top: 100px;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 110%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo--large {
  font-size: 2rem;
}
.logo__icon {
  width: 32px;
}

.menu ul {
  display: flex;
  gap: 16px;
  height: 100%;
}
.menu__link {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  padding: 8px;
  transition: 300ms ease-out;
}
.menu__link:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: translateY(-5px);
}

.btn {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 26px;
  transition: 300ms ease-out;
}
.btn__label {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  transition: 300ms ease-out;
}
.btn__icon {
  width: 24px;
  display: flex;
}
.btn--link:hover .btn__label {
  color: rgba(255, 255, 255, 0.8);
}
.btn--fill {
  background-color: #9333EA;
  border-color: #9333EA;
}
.btn--fill:hover {
  background-color: #6B21A8;
  border-color: #6B21A8;
}
.btn--outline {
  border-color: #FFF;
}
.btn--outline:hover {
  border-color: #9333EA;
}
.btn--outline:hover .btn__label {
  color: #9333EA;
}
.btn--large {
  padding: 16px;
  min-width: 168px;
}
.btn--large .btn__label {
  font-size: 1.25rem;
}

.title {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 110%;
}
.title--two {
  font-size: 3.5rem;
}
.title--purple {
  color: #C084FC;
}
.title--dark-purple {
  color: #9333EA;
}
.title #line-bottom {
  position: relative;
  display: inline-block;
}
.title #line-bottom::before {
  content: "";
  position: absolute;
  width: 191px;
  height: 5px;
  bottom: 0;
  left: 3px;
  background-color: #C084FC;
}
.title #line-top {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.title #line-top::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 198px;
  height: 8px;
  top: 15px;
  left: 4px;
  background-color: #C084FC;
}
.title #square {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.title #square::before {
  content: "";
  position: absolute;
  width: 128px;
  left: -8px;
  z-index: -1;
  top: -5px;
  height: 100%;
  border: 3px solid #C2410C;
}
.title #square-fill {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.title #square-fill::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 80px;
  height: 80px;
  top: 0;
  left: -10px;
  background-color: #BE185D;
}
.title #line-bottom-two {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.title #line-bottom-two::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 172px;
  height: 5px;
  bottom: 0;
  left: 2px;
  background-color: #C084FC;
}

.content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
}
.content--center {
  justify-content: center;
  align-items: center;
}
.content--center h1, .content--center h2, .content--center h3 {
  text-align: center;
}
.content--center .content__text {
  text-align: center;
}
.content__top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content__caption {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: capitalize;
}
.content__text {
  font-size: 1.125rem;
  line-height: 160%;
}
.content__button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.content .btn--link {
  padding: 16px 0px;
}
.content .btn--link:hover {
  gap: 16px;
}

.card__container-image {
  position: relative;
  width: 100%;
  height: 220px;
  aspect-ratio: 3/2;
  overflow: hidden;
}
.card__container-image:hover .card__image {
  transform: scale(1.2);
}
.card__container-image #image-design-thinking {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/wild-horse.jpg");
}
.card__container-image #image-festival {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/festival.jpg");
}
.card__container-image #image-happy-father {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/happy-father-day.jpg");
}
.card__image {
  width: 100%;
  height: 100%;
  background: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/wild-horse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 300ms ease-out;
}
.card__badge {
  background-color: #F3E8FF;
  color: #6B21A8;
  padding: 2px 4px;
  font-size: 0.8rem;
  line-height: 140%;
  border-radius: 4px;
  position: absolute;
  top: 16px;
  left: 16px;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0px 16px;
}
.card__caption {
  font-size: 1rem;
  font-weight: 500;
  line-height: 110%;
}
.card__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 110%;
}
.card .btn--link {
  padding: 12px 0px;
}

.card-user {
  display: flex;
  gap: 16px;
  align-items: center;
}
.card-user__avatar {
  width: 64px;
  height: 64px;
}
.card-user__details {
  display: flex;
  flex-direction: column;
}
.card-user__name {
  font-size: 1.125rem;
  line-height: 160%;
}
.card-user__description {
  font-size: 1rem;
  line-height: 140%;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
.card-container .btn--link .btn__label {
  color: #9333EA;
}
.card-container .btn--link .btn__icon {
  transition: 300ms ease-out;
}
.card-container .btn--link:hover .btn__label {
  color: #9333EA;
}
.card-container .btn--link:hover .btn__icon {
  transform: translateX(8px);
}
.card-container__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.card-container__grid {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.menu-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  z-index: 10;
}
.menu-mobile__icon {
  display: inline-block;
  cursor: pointer;
  transition: 200ms ease;
  z-index: 20;
}
.menu-mobile__bar {
  background-color: white;
  border-radius: 2px;
  height: 3px;
  margin: 3px;
  transition: 200ms ease;
  width: 25px;
}
.menu-mobile.is-open .menu-mobile__bar:first-child {
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}
.menu-mobile.is-open .menu-mobile__bar:nth-child(2) {
  opacity: 0;
}
.menu-mobile.is-open .menu-mobile__bar:last-child {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}
.menu-mobile:not(.is-open) .menu-mobile__icon:hover .menu-mobile__bar {
  margin: 5px 3px;
}
.menu-mobile__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  background: #080d17;
  height: 100vh;
  padding: 140px 24px 40px;
  position: absolute;
  right: -101%;
  top: 0;
  transition: 200ms ease;
  width: 280px;
  z-index: 10;
}
.menu-mobile__link {
  display: inline-block;
  border-radius: 4px;
  font-size: 1rem;
  height: 100%;
  letter-spacing: 0.5px;
  padding: 12px;
  width: 100%;
}
.menu-mobile__link:hover {
  background: rgba(255, 255, 255, 0.4);
}
.menu-mobile .btn, .menu-mobile button {
  justify-content: start;
  margin-top: 12px;
  padding: 12px;
  text-align: start;
  width: 100%;
}
.menu-mobile .btn--link {
  padding: 12px 0px;
}
.menu-mobile.is-open .menu-mobile__content {
  right: 0;
}

/*# sourceMappingURL=style.css.map */
