* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: #FFF;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #0F172A;
    font-size: 16px;
}

button {
    cursor: pointer;
    border: 1px solid #333;
}

input {
    outline: none;
}