@use '../variables' as var;

.btn {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 12px;
    transition: 300ms ease-out;

    &__label {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .5px;
        line-height: 1.5rem;
        padding: 0px 16px;
        transition: 300ms ease-out;
    }

    &--link:hover .btn__label {
        color: rgba(255, 255, 255, .8);
    }

    &--fill {
        background-color: map-get(var.$colors, purple-600);
        border-color: map-get(var.$colors, purple-600);

        &:hover {     
            background-color: map-get(var.$colors, purple-800);
            border-color: map-get(var.$colors, purple-800);
        }
    }

    &--outline {
        border-color: map-get(var.$colors, white);

        &:hover {
            border-color: map-get(var.$colors, purple-600);
            .btn__label {
                color: map-get(var.$colors, purple-600);
            }
        }
    }

    &--large {
        padding: 16px;
        min-width: 168px;

        & .btn__label {
            font-size: 1.25rem;
        }
    }
}