.card-user {
    display: flex;
    gap: 16px;
    align-items: center;

    &__avatar {
        width: 64px;
        height: 64px;
    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 1.125rem;
        line-height: 160%;
    }

    &__description {
        font-size: 1rem;
        line-height: 140%;
    }
}