@use '../variables' as var;

.title {
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 110%;

    &--two {
        font-size: 3.5rem;
    }

    &--dark-purple {
        color: map-get(var.$colors, purple-600);
    }


}