@use '../variables' as var;

.l-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 80px;

    &--row {
        flex-direction: row;
    }

    &--grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__image {
        width: 100vw;

        img {
            width: 100%;
        }

        &--extra {
            max-width: 1000px;
        }

        &--large {
            max-width: 750px;
            min-width: 500px;
        }

        &--medium {
            max-width: 350px;
            min-width: 220px;
        }

        &--small {
            max-width: 284px;
        }
    }

    &__logo-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px 80px;

        @media screen and (max-width: var.$breakpoint-tablet) {
            gap: 24px;
        }
    }

    @media screen and (max-width: var.$breakpoint-tablet) {
        gap: 48px;
        padding: 16px 16px 48px;

        .title {
            font-size: 3.5rem;
        }

        .title--two {
            font-size: 2.5rem;
            font-weight: 700;
        }

        &--row {
            flex-direction: column-reverse;
            padding: 48px 16px;

            .content {
                justify-content: center;
                align-items: center;
                text-align: center;
                max-width: 600px;
            }
        }
    }
}