@use '../variables' as var;

.l-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 80px;

    &--row {
        flex-direction: row;
    }

    &--grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__image {
        width: 100%;

        &--extra {
            max-width: 1000px;
        }

        &--large {
            max-width: 750px;
        }

        &--medium {
            max-width: 350px;
        }

        &--small {
            max-width: 284px;
        }
    }

    &__logo-container {
        display: flex;
        gap: 80px;
    }

    @media screen and (max-width: var.$breakpoint-tablet) {
        gap: 48px;
        padding: 16px;

        .title {
            font-size: 56px;
        }
    }
}